<aside class="main-sidebar">
	<section class="sidebar">
	  <ul class="sidebar-menu" data-widget="tree">
	    <li><a href="/dashboard"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>
	    <li><a href="/categories"><i class="fa fa-list"></i> <span>Categories</span></a></li>
	    <li><a href="/ingredients"><i class="fa fa-list"></i> <span>Ingredients</span></a></li>
	    <li><a href="/users"><i class="fa fa-users"></i> <span>Users</span></a></li>
	    <li class="treeview active">
          <a href="#">
            <i class="fa fa-book"></i>
            <span>Menu</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
	    	<li><a href="/pizzas"><i class="fa fa-circle-o"></i> <span>Pizzas</span></a></li>
		    <li><a href="/sides"><i class="fa fa-circle-o"></i> <span>Sides</span></a></li>
		    <li><a href="/drinks"><i class="fa fa-circle-o"></i> <span>Drinks</span></a></li>
          </ul>
        </li>
	  </ul>
	</section>
</aside>
